/* Estilos generales */
body {
    background-color: #f5f5f5; /* Fondo gris claro */
    margin: 0;
    padding: 0;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #35CBDF; /* Color azul para la barra de navegación */
    width: 100%;
}

.navbar a.navbar-brand,
.navbar .navbar-nav .nav-link {
    color: #fff; /* Color de texto blanco para los enlaces de la barra de navegación */
}

.navbar-toggler-icon {
    background-color: #007bff; /* Color de fondo blanco para el icono del botón de navegación */
}

/* Estilos para el contenido central */
.container.h-100 {
    height: 100vh;
    padding-top: 200px;
}

.row.h-100 {
    height: 100%;
}

.col-lg-4 {
    background-color: #fff; /* Fondo blanco para el contenedor */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el formulario de inicio de sesión */
.login-form {
    text-align: center;
}

.login-form h2 {
    color: #35CBDF; /* Color azul */
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Color azul más oscuro al pasar el mouse */
}

/* Estilos de la pagina de incio */
.carousel-item {
    width: 100%;
    height: 50vh;
}

/* Centrar verticalmente las imágenes del carrusel */
.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.carousel-caption p, h1 {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.carousel-caption h1 {
    font-size: 4em;
}

.container1 {
    padding-top: 50px;
    padding-left: 50px;
    padding-rigth: 50px;
    padding-bottom: 50px;
}

.container1.row {
    text-align: center;
}

.container1.row img {
    max-width: 200px;
}

.container2 {
    padding: 50px 50px 50px;
}
